.scroll-bar::-webkit-scrollbar-track {
     width:10px
    }
.scroll-bar::-webkit-scrollbar-track {
    background: #d1d1d1;
}
.scroll-bar::-webkit-scrollbar-thumb {
    background-color: #ee7c82;
    border-radius: 10px;
    border: none;
}
.scroll-bar::-webkit-scrollbar-thumb:hover {
    background-color: #d12932;
}
.text-justify{
    text-align: justify;
    text-justify: inter-word;
}
